<template>
  <div class="chat">
    <!-- <h1>{{ msg }}</h1> -->
    <!-- <b-list-group class="tchat">
      <b-list-group-item>
        <b-avatar src="https://placekitten.com/300/300"></b-avatar>Button Image Avatar
      </b-list-group-item>
    </b-list-group>-->

    <b-list-group class="tchat">
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar class="mr-3" src="https://picsum.photos/250/250/?image=54"></b-avatar>
        <span class="mr-auto h2">J. Circlehead</span>
        <!-- <b-icon icon="columns-gap" font-scale="1.5"></b-icon> -->
        <b-avatar icon="exclamation" variant="secondary"></b-avatar>
      </b-list-group-item>
    </b-list-group>

    <div class="chatuser">
      <!-- <b-list-group class="user1">
        <b-list-group-item>
          <b-avatar src="https://placekitten.com/300/300"></b-avatar>
          <span class="text">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </span>
        </b-list-group-item>
      </b-list-group>-->
      <b-list-group-item class="d-flex align-items-center user1">
        <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
        <span
          class="mr-auto p"
        >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
      </b-list-group-item>

      <b-list-group-item class="d-flex align-items-center user1">
        <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
        <span class="mr-auto p">enim eiusmod high life accusamus terry richardson ad squid.</span>
      </b-list-group-item>

      <b-list-group-item class="d-flex align-items-center user2">
        <span
          class="mr-auto p"
        >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
        <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
      </b-list-group-item>

      <b-list-group-item class="d-flex align-items-center user1">
        <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
        <span
          class="mr-auto p"
        >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
      </b-list-group-item>

      <b-list-group-item class="d-flex align-items-center user2">
        <span
          class="mr-auto p"
        >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
        <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
      </b-list-group-item>
       <b-list-group-item class="d-flex align-items-center user2">
        <span
          class="mr-auto p"
        >Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</span>
        <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
      </b-list-group-item>
    </div>

    

    <b-list-group-item class="d-flex align-items-center textboxx">
      <b-avatar class="mr-3" src="https://placekitten.com/300/300"></b-avatar>
      <!-- <b-form> -->
        <!-- <b-input id="inline-form-input-name" class="mb-2 mr-sm-2 mb-sm-0" placeholder="Type a message"></b-input> -->
        <b-form-input id="input-small" size="sm" placeholder="Enter your name"></b-form-input>
      <!-- </b-form> -->
    </b-list-group-item>
  </div>
</template>

<script>
export default {
  name: "Chat",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chat .tchat .h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.textboxx {
      border: none;
}

.textboxx  .form-control {
/* padding: 10px 15px 10px 25px; */
border-radius: 30px;
}

.chatuser {
  height: 70vh;
  overflow-y: scroll;
}

.chatuser::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.chatuser::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.chatuser::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.chatuser .list-group-item {
  border: none;
}
.chatuser .user1 .b-avatar {
}

.chatuser .user1 .p {
  padding: 10px;
  margin: 0;
  background: #dbe2fd;
  border-bottom-left-radius: 30px;
  background: #dbe2fd;
}

.chatuser .user2 .p {
  padding: 10px;
  margin: 0;
  background: #dbe2fd;
  border-bottom-right-radius: 30px;
  background: #eaecf1;
}
</style>
