<template>
  <div class="contacts">
    <!-- <h1>{{ msg }}</h1> -->
    <b-list-group class="t_contact">
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar class="mr-3" src="https://placekitten.com/320/320"></b-avatar>
        <span class="mr-auto h2">J. Circlehead</span>
        <!-- <b-icon icon="columns-gap" font-scale="1.5"></b-icon> -->
        <b-avatar icon="envelope" variant="secondary"></b-avatar>
      </b-list-group-item>
    </b-list-group>

    <b-form class="f">
      <b-input id="inline-form-input-name" placeholder="Search Messenger"></b-input>
    </b-form>

<div class="hv">
    <b-list-group class="b_contact">
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar class="mr-3"></b-avatar>
        <span class="mr-auto tt">J. Circlehead
          <p >J.B Hunt</p>
        </span>
        
        <b-badge>5</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="primary" text="BV" class="mr-3"></b-avatar>
        <span class="mr-auto tt">BootstrapVue
          <p >J.B Hunt</p>
        </span>
        <b-badge>12</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="info" src="https://placekitten.com/300/300" class="mr-3"></b-avatar>
        <span class="mr-auto tt">Super Kitty
          <p >J.B Hunt</p>
        </span>
        <b-badge>9</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar variant="success" icon="people-fill" class="mr-3"></b-avatar>
        <span class="mr-auto tt">ACME group
          <p >J.B Hunt</p>
        </span>
        <b-badge>7</b-badge>
      </b-list-group-item>
    </b-list-group>
</div>
  </div>
</template>

<script>
export default {
  name: "Contacts",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.contacts {
   
}

.hv {
  height: 70vh;
  overflow-y: scroll;
}

.hv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.hv::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.hv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}

.contacts .t_contact .h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.contacts .f {
  padding: 10px 10px 10px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.contacts .form-control {
/* padding: 10px 15px 10px 25px; */
border-radius: 30px;
}

.b_contact .tt{
    font-weight: bold;
    font-size: 15px;
}

.b_contact .tt p{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

</style>
