<template>
  <div class="topbarMenu">
    <!-- <h1>{{ msg }}</h1> -->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#">
          <img alt="logo" src="../assets/msub_logo_bw.png" />
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-nav-form>
            <!-- <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>-->
            <b-input-group v-for="size in ['sm']" :key="size" :size="size">
              <b-form-input></b-form-input>
              <b-input-group-append>
                <b-button size="sm" text="Button">
                  <b-icon icon="search" font-scale="1"></b-icon>
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-nav-form>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <b-nav-item href="#">
                <b-icon icon="house" font-scale="1.5"></b-icon>
                <p>Home</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="briefcase" font-scale="1.5"></b-icon>
                <p>Jobs</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="truck" font-scale="1.5"></b-icon>
                <p>Buy</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="people" font-scale="1.5"></b-icon>
                <p>Request</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="envelope" font-scale="1.5"></b-icon>
                <p>Messaging</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="bell" font-scale="1.5"></b-icon>
                <p>Notifications</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="columns-gap" font-scale="1.5"></b-icon>
                <p>More</p>
              </b-nav-item>
              <b-nav-item href="#">
                <b-icon icon="building" font-scale="1.5"></b-icon>
                <p>Company</p>
              </b-nav-item>
            </b-navbar-nav>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopbarMenu",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.topbarMenu {
}
.topbarMenu img {
  width: 130px;
}

.topbarMenu .nav-link {
  padding: 0;
  color: #e4e4e4 !important;
}
.topbarMenu .nav-item {
  text-align: center;
}
.topbarMenu p {
  margin: 0;
  font-size: 9px;
}
</style>
