<template>
  <div class="userprofile">
    <!-- <h1>{{ msg }}</h1> -->
    <b-card class="mb-2">
      <b-img src="https://picsum.photos/250/250/?image=54" rounded="circle" alt="Circle image"></b-img>
      <h2>Raheel Wali</h2>
      <small>creativeDesigner</small>

      <div role="tablist">
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle.accordion-1 variant="secondry">
              More Action
              <b-icon icon="chevron-down"></b-icon>
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle.accordion-2 variant="secondry">
              Privacy &amp; Support
              <b-icon icon="chevron-down"></b-icon>
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle.accordion-3 variant="secondry">
              Shared Files
              <b-icon icon="chevron-down"></b-icon>
            </b-button>
          </b-card-header>
          <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <b-card-text>{{ text }}</b-card-text>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "UserProfile",
  props: {
    msg: String
  },
  data() {
    return {
      text: `
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
          richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor        `
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.userprofile {
  text-align: center;
}
.userprofile {
   height: 100vh;
}
.userprofile h2 {
  margin: 30px 0 0;
  font-size: 30px;
  font-weight: bold;
}
.userprofile img {
  margin: 30px 0 0;
  width: 120px;
}

.userprofile .btn {
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
}

.userprofile .b-icon.bi {
  float: right;
}
</style>
