<template>
  <div id="app" >
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <TopbarMenu />
    <b-container fluid class="p-0">
      <b-row>
        <b-col cols="3" class="p-0">
          <Contacts />
        </b-col>
        <b-col cols="6" class="p-0">
          <Chat />
        </b-col>
        <b-col cols="3" class="p-0">
          <UserProfile />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import TopbarMenu from "./components/TopbarMenu.vue";
import Contacts from "./components/Contacts.vue";
import Chat from "./components/Chat.vue";
import UserProfile from "./components/UserProfile.vue";

export default {
  name: "App",
  components: {
    TopbarMenu,
    Contacts,
    Chat,
    UserProfile
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
    overflow: hidden;
}



/* div {
    height: 100vh;
} */
</style>
